/* =========================================================
   OCEAN BLUE
   ========================================================= */

:root {
  --accent: #36a9ff;
  --accent-light: #bce7ff;
  --accent-soft: rgba(54, 169, 255, 0.30);

  --text: #ffffff;
  --muted: #d9f1ff;

  --card: rgba(7, 40, 67, 0.88);
}

body {
  background:
    radial-gradient(
      circle at 15% 5%,
      rgba(70, 190, 255, 0.35),
      transparent 30%
    ),
    radial-gradient(
      circle at 90% 30%,
      rgba(0, 130, 255, 0.25),
      transparent 30%
    ),
    linear-gradient(
      135deg,
      #0d4c73,
      #06263e 52%,
      #02070c
    );
}

h1,
.successTitle {
  color: #48b7ff;

  text-shadow:
    0 0 10px #36a9ff,
    0 0 28px rgba(54, 169, 255, 0.55);
}

.subtitle,
#status,
.timerLabel,
#waitingMessage {
  color: var(--muted);
}

.cameraBox,
.clueCard,
.timerBox,
#destinationBox {
  border: 2px solid var(--accent);

  background:
    linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.09),
      var(--card)
    );

  box-shadow:
    0 15px 50px rgba(0, 0, 0, 0.35),
    0 0 28px var(--accent-soft);

  backdrop-filter: blur(12px);
}

button {
  background:
    linear-gradient(
      135deg,
      #159ee9,
      #0872ae
    );

  color: white;
}

.clueLabel {
  color: var(--accent-light);
}

#timer,
#destination {
  color: #52baff;

  text-shadow:
    0 0 10px #36a9ff,
    0 0 28px rgba(54, 169, 255, 0.55);
}
