/* =========================================================
   GOLDEN LUXURY
   ========================================================= */

:root {
  --accent: #ffd34d;
  --accent-light: #fff0ad;
  --accent-soft: rgba(255, 211, 77, 0.28);

  --text: #ffffff;
  --muted: #fff0ad;

  --card: rgba(35, 25, 5, 0.90);
}

body {
  background:
    radial-gradient(
      circle at 20% 5%,
      rgba(255, 211, 77, 0.25),
      transparent 28%
    ),
    radial-gradient(
      circle at 85% 20%,
      rgba(255, 180, 40, 0.18),
      transparent 30%
    ),
    linear-gradient(
      135deg,
      #332408,
      #110c02 52%,
      #020202
    );
}

h1,
.successTitle {
  color: #ffd34d;

  text-shadow:
    0 0 10px #ffd34d,
    0 0 28px rgba(255, 211, 77, 0.6);
}

.subtitle,
#status,
.timerLabel,
#waitingMessage {
  color: var(--muted);
}

.cameraBox,
.clueCard,
.timerBox,
#destinationBox {
  border: 2px solid var(--accent);

  background:
    linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.07),
      var(--card)
    );

  box-shadow:
    0 15px 50px rgba(0, 0, 0, 0.45),
    0 0 28px var(--accent-soft);

  backdrop-filter: blur(12px);
}

button {
  background:
    linear-gradient(
      135deg,
      #d49a16,
      #8c5d05
    );

  color: #fff8d8;
}

.clueLabel {
  color: #ffe27a;
}

#timer,
#destination {
  color: #ffd34d;

  text-shadow:
    0 0 10px #ffd34d,
    0 0 28px rgba(255, 211, 77, 0.6);
}
