/* =========================================================
   ROYAL PURPLE
   ========================================================= */

:root {
  --accent: #b96cff;
  --accent-light: #e0baff;
  --accent-soft: rgba(185, 108, 255, 0.30);

  --text: #ffffff;
  --muted: #f0ddff;

  --card: rgba(39, 15, 62, 0.88);
}

body {
  background:
    radial-gradient(
      circle at 20% 5%,
      rgba(190, 108, 255, 0.35),
      transparent 28%
    ),
    radial-gradient(
      circle at 90% 20%,
      rgba(104, 45, 180, 0.30),
      transparent 30%
    ),
    linear-gradient(
      135deg,
      #401467,
      #1b092b 50%,
      #07030c
    );
}

h1,
.successTitle {
  color: #d08cff;

  text-shadow:
    0 0 10px #b96cff,
    0 0 28px rgba(185, 108, 255, 0.6);
}

.subtitle,
#status,
.timerLabel,
#waitingMessage {
  color: var(--muted);
}

.cameraBox,
.clueCard,
.timerBox,
#destinationBox {
  border: 2px solid var(--accent);

  background:
    linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.09),
      var(--card)
    );

  box-shadow:
    0 15px 50px rgba(0, 0, 0, 0.4),
    0 0 30px var(--accent-soft);

  backdrop-filter: blur(12px);
}

button {
  background:
    linear-gradient(
      135deg,
      #a855f7,
      #7026a9
    );

  color: white;
}

.clueLabel {
  color: var(--accent-light);
}

#timer,
#destination {
  color: #d08cff;

  text-shadow:
    0 0 10px #b96cff,
    0 0 28px rgba(185, 108, 255, 0.55);
}
