/* =========================================================
   TEAL FANTASY
   ========================================================= */

:root {
  --accent: #55e0df;
  --accent-light: #c1ffff;
  --accent-soft: rgba(85, 224, 223, 0.28);

  --text: #ffffff;
  --muted: #d9ffff;

  --card: rgba(5, 47, 55, 0.90);
}

body {
  background:
    radial-gradient(
      circle at 15% 5%,
      rgba(85, 224, 223, 0.30),
      transparent 30%
    ),
    radial-gradient(
      circle at 90% 25%,
      rgba(0, 170, 180, 0.25),
      transparent 30%
    ),
    linear-gradient(
      135deg,
      #075461,
      #062d35 52%,
      #020708
    );
}

h1,
.successTitle {
  color: #67eaea;

  text-shadow:
    0 0 10px #55e0df,
    0 0 28px rgba(85, 224, 223, 0.55);
}

.subtitle,
#status,
.timerLabel,
#waitingMessage {
  color: var(--muted);
}

.cameraBox,
.clueCard,
.timerBox,
#destinationBox {
  border: 2px solid var(--accent);

  background:
    linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.08),
      var(--card)
    );

  box-shadow:
    0 15px 50px rgba(0, 0, 0, 0.4),
    0 0 28px var(--accent-soft);

  backdrop-filter: blur(12px);
}

button {
  background:
    linear-gradient(
      135deg,
      #18bfc3,
      #08777d
    );

  color: white;
}

.clueLabel {
  color: var(--accent-light);
}

#timer,
#destination {
  color: #67eaea;

  text-shadow:
    0 0 10px #55e0df,
    0 0 28px rgba(85, 224, 223, 0.55);
}
